Transformatie 1.0.4/1.0.3/stop/imop-gio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- imop-gio.xsd Generated by script -->
<xs:schema elementFormDefault="qualified"
  targetNamespace="https://standaarden.overheid.nl/stop/imop/gio/" version="1.0.3"
  xmlns:gio="https://standaarden.overheid.nl/stop/imop/gio/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation>"gio-schema" van STOP. </xs:documentation>
    <xs:documentation>Dit schema definieert de elementen voor de STOP-modules voor gio</xs:documentation>
    <xs:documentation>versie 1.0.3 uitgegeven op 02-07-2020</xs:documentation>
  </xs:annotation>
  
  <xs:element name="GeografischeContext" type="gio:GeografischeContextType" />
  <xs:complexType name="GeografischeContextType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="achtergrondVerwijzing" type="xs:string" />
      <xs:element maxOccurs="1" minOccurs="1" name="achtergrondActualiteit" type="xs:date" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contextGIOs" type="xs:anyURI" />
      <xs:element maxOccurs="1" minOccurs="0" name="nauwkeurigheid" type="xs:integer" />
    </xs:sequence>
    <xs:attribute name="schemaversie" type="xs:token" use="optional" />
  </xs:complexType>

</xs:schema>
