Transformatie 1.0.4/1.0.4/stop/imop-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:data="https://standaarden.overheid.nl/stop/imop/data/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="https://standaarden.overheid.nl/stop/imop/data/"
           version="1.0.4">
   <xs:annotation>
      <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data">"Data-schema" van STOP. </xs:documentation>
      <xs:documentation>Dit schema definieert de "data"-elementen voor de
      STOP-modules</xs:documentation>
      <xs:documentation>versie 1.0.4</xs:documentation>
   </xs:annotation>
   <!--
  ================================================ 
    Identificatie                                   
  ================================================ 
  -->
   <xs:element name="ExpressionIdentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:ExpressionIdentificatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="data:FRBRWork"/>
            <xs:element ref="data:FRBRExpression"/>
            <xs:element ref="data:soortWork"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:isTijdelijkDeelVan"/>
         </xs:sequence>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="isTijdelijkDeelVan">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:isTijdelijkDeelVan"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="data:WorkIdentificatie"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="WorkIdentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:WorkIdentificatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="data:FRBRWork"/>
            <xs:element ref="data:soortWork"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="FRBRExpression" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:FRBRExpression"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="FRBRWork" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:FRBRWork"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="soortWork" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:soortWork"/>
      </xs:annotation>
   </xs:element>
   <!--
  ================================================ 
     Metadata-containers                                   
  ================================================ 
  -->
   <xs:element name="BesluitMetadata">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:BesluitMetadata"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:afkortingen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:alternatieveTitels"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftCiteertitelInformatie"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:informatieobjectRefs"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:maker"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:rechtsgebieden"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:soortProcedure"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:soortBestuursorgaan"/>
         </xs:all>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="RegelingMetadata">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:RegelingMetadata"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:afkortingen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:alternatieveTitels"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftCiteertitelInformatie"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:maker"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:opvolging"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:overheidsdomeinen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:rechtsgebieden"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:soortRegeling"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:soortBestuursorgaan"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:voorkeursafkorting"/>
         </xs:all>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="RegelingVersieMetadata">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:RegelingVersieMetadata"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:versienummer"/>
         </xs:all>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="OfficielePublicatieMetadata">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:OfficielePublicatieMetadata"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:afkortingen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:alternatieveTitels"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:beginInzagetermijnOp"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:eindeBeroepstermijnOp"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:eindeBezwaartermijnOp"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:eindeInzagetermijnOp"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:grondslagen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftCiteertitelInformatie"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:informatieobjectRefs"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:jaargang"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:maker"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:ondertekendOp"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatienaam"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieblad"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatienummer"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:publiceert"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:rechtsgebieden"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:soortPublicatie"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:uitgever"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:soortBestuursorgaan"/>
         </xs:all>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="OfficielePublicatieVersieMetadata">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:OfficielePublicatieVersieMetadata"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:gepubliceerdOp"/>
         </xs:all>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="InformatieObjectMetadata">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:InformatieObjectMetadata"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:alternatieveTitels"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:formaatInformatieobject"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:maker"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:naamInformatieObject"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:opvolging"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:publicatieinstructie"/>
         </xs:all>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="InformatieObjectVersieMetadata">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:InformatieObjectVersieMetadata"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftBestanden"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:heeftGeboorteregeling"/>
         </xs:all>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="KennisgevingMetadata">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:KennisgevingMetadata"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:eindverantwoordelijke"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:maker"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:officieleTitel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:onderwerpen"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:mededelingOver"/>
         </xs:all>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <!--
  ================================================ 
     Metadata-elementen                                
  ================================================ 
  -->
   <!-- "bevoegd gezag" -->
   <xs:element name="maker" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:maker"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="eindverantwoordelijke" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:eindverantwoordelijke"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="uitgever" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:uitgever"/>
      </xs:annotation>
   </xs:element>
   <!-- types -->
   <xs:element name="soortRegeling" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:soortRegeling"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="formaatInformatieobject" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:formaatInformatieobject"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="soortPublicatie" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:soortPublicatie"/>
      </xs:annotation>
   </xs:element>
   <!-- titels -->
   <xs:element name="alternatieveTitels">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:alternatieveTitels"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:alternatieveTitel"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="alternatieveTitel" type="xs:string">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:alternatieveTitel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="officieleTitel" type="xs:string">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:officieleTitel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="heeftCiteertitelInformatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:heeftCiteertitelInformatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:CiteertitelInformatie"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CiteertitelInformatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:CiteertitelInformatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:citeertitel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:isOfficieel"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="citeertitel" type="xs:string">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:citeertitel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="isOfficieel" type="xs:boolean">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:isOfficieel"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="afkortingen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:afkortingen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:afkorting"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="afkorting" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:afkorting"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="voorkeursafkorting" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:voorkeursafkorting"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="naamInformatieObject" type="xs:string">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:naamInformatieObject"/>
      </xs:annotation>
   </xs:element>
   <!-- publicatie-metadata -->
   <xs:element name="publicatieIdentifier" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:publicatieIdentifier"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="publicatienaam" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:publicatienaam"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="publicatieblad" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:publicatieblad"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="jaargang" type="xs:gYear">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:jaargang"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="publicatienummer" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:publicatienummer"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="publiceert" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:publiceert"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="publicatieinstructie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:publicatieinstructie"/>
      </xs:annotation>
      <xs:simpleType>
         <xs:restriction base="xs:token">
            <xs:enumeration value="AlleenBekendTeMaken"/>
            <xs:enumeration value="Informatief"/>
            <xs:enumeration value="TeConsolideren"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="heeftBestanden">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:heeftBestanden"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:heeftBestand"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="heeftBestand">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:heeftBestand"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:Bestand"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Bestand">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Bestand"/>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:bestandsnaam"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:hash"/>
         </xs:all>
      </xs:complexType>
   </xs:element>
   <xs:element name="hash" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:hash"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="bestandsnaam" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:bestandsnaam"/>
      </xs:annotation>
   </xs:element>
   <!-- datums -->
   <xs:element name="gepubliceerdOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:gepubliceerdOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="ondertekendOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:ondertekendOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="beginInzagetermijnOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:beginInzagetermijnOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="eindeInzagetermijnOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:eindeInzagetermijnOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="eindeBeroepstermijnOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:eindeBeroepstermijnOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="eindeBezwaartermijnOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:eindeBezwaartermijnOp"/>
      </xs:annotation>
   </xs:element>
   <!-- "inhoudelijke" metadata -->
   <xs:element name="rechtsgebieden">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:rechtsgebieden"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:rechtsgebied"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="rechtsgebied" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:rechtsgebied"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="overheidsdomeinen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:overheidsdomeinen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:overheidsdomein"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="overheidsdomein" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:overheidsdomein"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="onderwerpen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:onderwerpen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:onderwerp"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="onderwerp" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:onderwerp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="versienummer" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:versienummer"/>
      </xs:annotation>
   </xs:element>
   <!-- relaties -->
   <xs:element name="TekstReferentie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:TekstReferentie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="data:uri"/>
            <xs:element ref="data:label"/>
            <xs:element ref="data:soortRef"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="label" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:label"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="soortRef" type="data:wlSoortExtrefNotatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:soortRef"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="uri" type="xs:anyURI">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:uri"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="soortBestuursorgaan" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:soortBestuursorgaan"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="grondslagen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:grondslagen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:grondslag"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="grondslag">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:grondslag"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:TekstReferentie"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="heeftGeboorteregeling" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:heeftGeboorteregeling"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="informatieobjectRefs">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:informatieobjectRefs"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:informatieobjectRef"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="informatieobjectRef" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:informatieobjectRef"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="eId" type="xs:token">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:eId"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="opvolging">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:opvolging"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:opvolgerVan"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="opvolgerVan" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:opvolgerVan"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="mededelingOver" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:mededelingOver"/>
      </xs:annotation>
   </xs:element>
   <!--
  ================================================ 
     Procedure                                
  ================================================ 
  -->
   <xs:element name="Procedureverloop">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Procedureverloop"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="data:mgContext"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:procedurestappen"/>
         </xs:sequence>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Procedureverloopmutatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Procedureverloopmutatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="data:mgContextMutatie"/>
            <xs:sequence>
               <xs:element maxOccurs="1" minOccurs="0" ref="data:voegStappenToe"/>
               <xs:element maxOccurs="1" minOccurs="0" ref="data:vervangStappen"/>
               <xs:element maxOccurs="1" minOccurs="0" ref="data:verwijderStappen"/>
            </xs:sequence>
         </xs:sequence>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="soortProcedure" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:soortProcedure"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="procedurestappen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:procedurestappen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Procedurestap"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Procedurestap">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Procedurestap"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="data:soortStap"/>
            <xs:element ref="data:voltooidOp"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:actor"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Procedurestapref">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Procedurestapref"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="data:soortStap"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="soortStap" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:soortStap"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="voltooidOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:voltooidOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="actor" type="data:dtWaardeRef">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:actor"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="voegStappenToe">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:voegStappenToe"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Procedurestap"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="vervangStappen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:vervangStappen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Procedurestap"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="verwijderStappen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:verwijderStappen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Procedurestapref"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <!--
  ================================================ 
     Consolidatie-informatie in Besluit 
  ================================================ 
  -->
   <xs:element name="ConsolidatieInformatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:ConsolidatieInformatie"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:BeoogdeRegelgeving"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:Intrekkingen"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:Tijdstempels"/>
         </xs:sequence>
         <xs:attributeGroup ref="data:agSchemaVersie"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="Tijdstempels">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Tijdstempels"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Tijdstempel"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="BeoogdeRegelgeving">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:BeoogdeRegelgeving"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="1">
               <xs:element ref="data:BeoogdeRegeling"/>
               <xs:element ref="data:BeoogdInformatieobject"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Intrekkingen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Intrekkingen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:Intrekking"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Tijdstempel">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Tijdstempel"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:doel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:soortTijdstempel"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="data:datum"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:eId"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="BeoogdeRegeling">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:BeoogdeRegeling"/>
      </xs:annotation>
      <xs:complexType>
         <xs:group ref="data:mgKoppelDoelAanInstrument"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="BeoogdInformatieobject">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:BeoogdInformatieobject"/>
      </xs:annotation>
      <xs:complexType>
         <xs:group ref="data:mgKoppelDoelAanInstrument"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="mgKoppelDoelAanInstrument">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" ref="data:doelen"/>
         <xs:element maxOccurs="1" minOccurs="1" ref="data:instrumentVersie"/>
         <xs:element maxOccurs="1" minOccurs="0" ref="data:eId"/>
      </xs:sequence>
   </xs:group>
   <xs:element name="Intrekking">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:Intrekking"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:doelen"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:instrument"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="data:eId"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="soortTijdstempel" type="data:dtTijdstempeltype">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:soortTijdstempel"/>
      </xs:annotation>
   </xs:element>
   <xs:simpleType name="dtTijdstempeltype">
      <xs:restriction base="xs:token">
         <xs:enumeration value="geldigVanaf"/>
         <xs:enumeration value="juridischWerkendVanaf"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="instrument" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:instrument"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="instrumentVersie" type="data:dtSTOPidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:instrumentVersie"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="datum" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:datum"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="doelen">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:doelen"/>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="data:doel"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="doel" type="data:dtDoelidentificatie">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:doel"/>
      </xs:annotation>
   </xs:element>
   <!--
  ================================================ 
     generiek                               
  ================================================ 
  -->
   <!-- ag -->
   <xs:attributeGroup name="agSchemaVersie">
      <xs:attribute name="schemaversie" type="data:dtSchemaVersie" use="optional"/>
   </xs:attributeGroup>
   <!-- mg -->
   <xs:group name="mgContext">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" ref="data:bekendOp"/>
         <xs:element maxOccurs="1" minOccurs="0" ref="data:ontvangenOp"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="mgContextMutatie">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" ref="data:bekendOp"/>
      </xs:sequence>
   </xs:group>
   <xs:element name="bekendOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:bekendOp"/>
      </xs:annotation>
   </xs:element>
   <xs:element name="ontvangenOp" type="xs:date">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:data:ontvangenOp"/>
      </xs:annotation>
   </xs:element>
   <!-- datatypes -->
   <xs:simpleType name="dtSchemaVersie">
      <xs:restriction base="xs:token"/>
   </xs:simpleType>
   <xs:simpleType name="dtDoelidentificatie">
      <xs:restriction base="data:dtSTOPidentificatie"/>
   </xs:simpleType>
   <xs:simpleType name="dtSTOPidentificatie">
      <xs:restriction base="xs:anyURI"/>
   </xs:simpleType>
   <xs:simpleType name="dtWaardeRef">
      <xs:restriction base="xs:anyURI"/>
   </xs:simpleType>
   <!-- enumeraties -->
   <xs:simpleType name="wlSoortExtrefNotatie">
      <xs:restriction base="xs:string">
         <xs:enumeration value="JCI"/>
         <xs:enumeration value="URL"/>
         <xs:enumeration value="AKN"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
