Transformatie 1.0.4/1.0.4/stop/imop-gio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- imop-gio.xsd Generated by script -->
<xs:schema xmlns:gio="https://standaarden.overheid.nl/stop/imop/gio/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="https://standaarden.overheid.nl/stop/imop/gio/"
           version="1.0.4">
   <xs:annotation>
      <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:gio">"gio-schema" van STOP. </xs:documentation>
      <xs:documentation>Dit schema definieert de elementen voor de STOP-modules voor gio</xs:documentation>
      <xs:documentation>versie 1.0.4 </xs:documentation>
   </xs:annotation>
   <xs:element name="GeografischeContext" type="gio:GeografischeContextType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:gio:GeografischeContext"/>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeografischeContextType">
      <xs:annotation>
         <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:gio:GeografischeContextType"/>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1"
                     minOccurs="1"
                     name="achtergrondVerwijzing"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:gio:achtergrondVerwijzing:GeografischeContextType"/>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1"
                     minOccurs="1"
                     name="achtergrondActualiteit"
                     type="xs:date">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:gio:achtergrondActualiteit:GeografischeContextType"/>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="contextGIOs"
                     type="xs:anyURI">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:gio:contextGIOs:GeografischeContextType"/>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1"
                     minOccurs="0"
                     name="nauwkeurigheid"
                     type="xs:integer">
            <xs:annotation>
               <xs:documentation source="https://koop.gitlab.io/STOP/standaard/1.0.4/go/go.html?id=xsd:gio:nauwkeurigheid:GeografischeContextType"/>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaversie" type="xs:token" use="optional"/>
   </xs:complexType>
</xs:schema>
