geo-validatie/geovalidatie_xsd/GV_ManifestBestand_v1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Kadaster (Kadaster) -->
<!-- W3C Schema generated by XMLSpy v2018 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:gvmb="http://www.kadaster.nl/schemas/geovalidaties/manifestbestand/v20181101" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gvc="http://www.kadaster.nl/schemas/geovalidaties/configuratie/v20181101" targetNamespace="http://www.kadaster.nl/schemas/geovalidaties/manifestbestand/v20181101" version="1.0.0">
	<xs:import namespace="http://www.kadaster.nl/schemas/geovalidaties/configuratie/v20181101" schemaLocation="../../configuratie/v20181101/GV_Geovalidatieconfiguratie_v1_0_0.xsd"/>
	<xs:element name="manifest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="gvmb:bestand" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bestand">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bestandsnaam" type="xs:string">
					<xs:annotation>
						<xs:documentation>met extentie, zoals .gml</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="geovalidatieconfiguratie" type="gvc:GeovalidatieconfiguratieType">
					<xs:annotation>
						<xs:documentation>Aanvullend zijn er vaste validaties, welke altijd uitgevoerd worden en die niet configuratief aangegeven kunnen of hoeven te worden. </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
