KOOP/geo-validatie/geovalidatie_xsd/GV_Geovalidatieconfiguratie_v1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by Kadaster (Kadaster) -->
<!-- W3C Schema generated by XMLSpy v2018 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:gvc="http://www.kadaster.nl/schemas/geovalidaties/configuratie/v20181101" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gvt="http://www.kadaster.nl/schemas/geovalidaties/typen/v20181101" targetNamespace="http://www.kadaster.nl/schemas/geovalidaties/configuratie/v20181101" version="1.0.0">
	<xs:import namespace="http://www.kadaster.nl/schemas/geovalidaties/typen/v20181101" schemaLocation="../../typen/v20181101/GV_Typen_v1_0_0.xsd"/>
	<xs:complexType name="GeovalidatieconfiguratieType">
		<xs:sequence>
			<xs:element name="crs" type="gvt:Waardelijst">
				<xs:annotation>
					<xs:documentation>Uit WaardelijstGVcrsType</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geostandaard" type="gvt:Waardelijst">
				<xs:annotation>
					<xs:documentation>Uit WaardelijstGVgeostandaard</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gmlType" type="gvt:Waardelijst" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Uit WaardelijstGVgmlType</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
